@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

*{
  margin: 0;
  padding: 0;

}

.sidebar{
  background-color: rgb(209, 206, 206);
  width: 240px;
  font-family: "Stack Sans Text", sans-serif;
  height: 720px;
  transition: transform 0.4s ease-in;
  position: absolute;
}

.wallpaper{
  background-image: url("backwall.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.sidebar nav{
  padding: 45px;
  width: 154px;
}


.sidebar nav li{
  list-style: none;
  font-size: 30px;
  padding:23px 0;
}

.sidebar nav li:hover a {
  color: #c78a19;
}

.sidebar nav li a{
  text-decoration: none;
  color: black;
}

.main{
  padding: 10px;
  width: 105vw;

}

.container{
  display: flex;

}

.infocontainer{
  margin: 144px auto;
  margin-left: 250px;
  width: 75vw;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  /* flex-wrap: wrap; */
}

.devpic img{
  width: 360px;
  height: 50vh;
}

.devinfo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40vw;
}
.hello{

  font-size: 65px;
  font-family: "Source Code Pro", monospace;
  font-weight: 100;
  display: flex;
  flex-direction: row;
}

.name{
    font-family: "Ubuntu", sans-serif;
    font-size: 55px;

}

.about{
  font-size: 25px;
  font-weight: 200;
  font-family: "Source Code Pro", monospace;

}

.moreabout{
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.buttons{
  margin-top: 30px;
}

.btn{
  padding: 9px 13px;
  border-radius: 15px;
  color: white;
  background-color: dodgerblue;
  font-weight: bold;
  font-size: 20px;
  margin: 0 3px;
  cursor: pointer;
}

.btn-sn{
  font-size: 15px;
  margin-top: 10px;
} 

.btn:hover{
  color: dodgerblue;
  background-color: white;
}

.contactform{
  margin: 110px;

}

.contactform h1{
  font-family: "Stack Sans Text", sans-serif;
  font-weight: 500;
  text-align: center;
  padding-bottom: 40px;
}

.contactform div{
  padding: 10px 0;
  display: flex;
  flex-direction: column;

}

.contactform form div input{
  border-radius: 5px;
  padding: 3px;
}

#emailHelp{
  font-size: 12px;
  color: midnightblue;
  margin: 0 5px;
}

#form-check{
  flex-direction: row;
}

.form-check-input{
  width: 10px;
}

.form-control-email{
  width: 25vw;
}

.form-control-phone{
  width: 25vw;
  padding-bottom: 20px;
}

.checkbox-style{
  margin: 3px;
}

.contactform form{
  border: 2px solid black;
  padding: 10px;
  border-radius: 15px;
}

.form-label{
  padding: 5px;
}

.blogitem{
  margin: 23px 0 0 24px;
  font-family: "Source Code Pro", monospace;
}

.blogcontainer{
  margin: 40px 50px;
}

.devintro{
  padding: 10px;
}

.introinfo h2{
  padding: 12px;
  
}

.introinfo{
  margin-left: 55px;
}

.skillitem{
  padding: 5px;
}

.skill{
  width: 20vw;
  height: 2vh;
  background-color: red;
  border: 2px solid black;
}

.skillitem{
  display: flex;
  padding: 10px;
  align-items: center ;
}
.t50{
  background-color: green;
  width: 10vw;
}
.t20{
  background-color: yellow;
  width: 4vw;
}

.services {
  background: #fff;
  padding: 45px 55px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  text-align: center;
  margin: 55px;
}

.services h2 {
  margin-bottom: 15px;
  color: #333;
}

.services ul {
  list-style: none;
  padding: 0;
}

.services li {
  background: #f0f4ff;
  margin: 8px 0;
  padding: 10px;
  border-radius: 6px;
  transition: 0.3s;
}

.services li:hover {
  background: #cfe0ff;
  color: #333;
  cursor: pointer;
}

@media (max-width: 1030px){
  *{
    /* background-color: rgb(219, 93, 62); */
  }
  .devpic{
    display: none;
  }

  .hello{
    display: flex;
  }

  .devinfo{
    margin-top: 50px;
    margin-right: 215px;
  }

  .infocontainer{
    margin: 100px;
  }

  .contactform form{
    width: 200px;
  }

  .btn{
    margin-bottom: 10px;
  }
  /* .sidebar{
    transform: translate(-175px,0px);
    position: absolute;
  } */
}

.sidebarGo{
    transform: translate(-555px,0px);
    position: absolute;
  }

.hamburger{
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 10px;
}

.cross{
  margin-left: 200px;
}